html{scroll-behavior:smooth!important}body{margin:0}a{text-decoration:none}h1{font-size:120px}#category,h1{font-family:Staatliches}#category{font-weight:500}#title{letter-spacing:.4px;font-size:22px;font-size:1.375rem;line-height:1.13636}#banner{margin:20px;height:800px}#editor{font-size:16px;font-size:1rem;line-height:1.75}.uk-navbar-container{background:#fff!important;font-family:Staatliches}img:hover{opacity:1;transition:opacity .25s cubic-bezier(.39,.575,.565,1)}
/*# sourceMappingURL=main.d4c96763.chunk.css.map */